 ul li {
     float: left;
     display: block;
     line-height: 30px;
 }
 
 ul li a {
     position: relative;
     margin: 0px 1.5px;
 }
 
 ul li a:after {
     position: absolute;
     bottom: 7px;
     left: 0px;
     width: 100%;
     height: 4px;
     background-color: #ffffff;
     content: "";
     opacity: 0;
     transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
     transform: translateY(20px);
 }
 
 ul li a:hover:after {
     opacity: 1;
     transform: translateY(15px)
 }
 
 .fa {
     display: 2;
 }