<div class="container">

    <div class="lolo">

        <img src="../assets/imgs/lolo.svg" class="img-fluid img-responsive">

    </div>

    <!-- <div class="dw"> -->
    <!-- <h1 class="display-3 text-center">!Bienvenido!</h1> -->

    <!-- <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Login</div>
            <div class="card-body">
                <h4 class="card-title">Soy BringMe Admin</h4>
                <p class="lead">
                    <a class="btn btn-secondary" href="" routerLink="/user/login" role="button">Ir al Login</a>
                </p>
            </div>
        </div> -->
    <!-- </div> -->
</div>