table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.iconTi {
    height: 35px;
    width: 35px;
}

table {
    margin-right: 110px;
    margin-left: 110px;
    text-align: center;
}

.bz {
    border-radius: 25px;
}

input {
    border-radius: 25px;
}

p {
    color: #562B89;
}

.modal-content {
    width: 263%;
    margin-left: -79%;
}

.bt {
    margin-top: 2.5em;
}