.form-control.login-user {
    border: 0 solid #fff !important;
}

.im {
    height: 130px;
    width: 150px;
}

html body head {
    background-image: url('/assets/imgs/Blog.jpg') no-repeat center center fixed;
    /* background: url('../assets/imgs/bringme.png')  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.im[_ngcontent-c2] {
    height: 100% !important;
    width: 150px !important;
}