/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
table {
    /* border-radius: 5px; */
    /* border-top: hidden; */
    /* border-collapse: collapse; */
    caption-side: bottom;
    font-family: Arial, Helvetica, sans-serif;
    /* font-style: italic; */
    font-size: 12px;
}

table,
tr,
th {
    text-align: center;
}