<section id="profile" class="container">

<br/> <br/>
        <div class="card mb-3" style="border-radius:15px">
            <h3 class="card-header" style="border-radius:15px;background-color:purple" > <font  color="white"> Perfil </font>  </h3>
            <div class="card-body">
              <div class="row">
<div class="col-md-2" align="center" >
  <img *ngIf="usuario.roles.administrador == true" style="text-align: center; height: auto; width: 50%; display: block;border-radius:150px" [src]="usuario.photourl" alt="Card image">
  <img *ngIf="usuario.roles.restaurante == true" style="text-align: center; height: auto; width: 70%; display: block;border-radius:100px" [src]="usuario.photourl" alt="Card image">

</div>
                <div class="col-md-4">

                    <h5 *ngIf="usuario.roles.administrador == true" class="card-title" >  <font size="5" color="purple">{{ usuario.username }} {{ usuario.lastname }} </font></h5>
                    <h5 *ngIf="usuario.roles.restaurante == true" class="card-title"><font size="3" color="purple">Nombre:{{ usuario.username }}</font></h5>
                    <h6 class="card-subtitle text-muted">  {{ usuario.email }} </h6>
                </div>
              </div>
            </div>
  <div class="row">
    <div class="col-md-4">
          <h5 for="">&nbsp; ID: <font size="3" color="purple">{{ usuario.uid }}</font></h5>
    </div> &nbsp;
    <div class="col-md-3">
      <h5 for="">Dirección:  <font size="3" color="purple">{{ usuario.address }}</font></h5>
    </div>
    <div class="col-md-3">
      <h5 for="">Telefono: <font size="3" color="purple"> {{usuario.phone }}</font></h5>
    </div>

      <ul >
        <li class="list-group-item" *ngIf="usuario.roles.restaurante == true" style="border-radius:25px"> <span class="badge-pill badge-success" >{{ usuario.pago }}</span> </li>
        <li class="list-group-item" *ngIf="usuario.roles.administrador == true" style="border-radius:25px"> <span *ngIf="usuario.activo == true" class="badge-pill badge-success" style="border-radius:25px"> Activo </span> </li>

      </ul>


  </div>



  </div>
</section>
